[Desktop Entry]
Name=LG4X-V2
GenericName=Python package for XPS curve fitting analysis
Comment=Python package for XPS curve fitting analysis
Exec=main.py %F
Icon=io.github.Julian_Hochhaus.LG4X_V2
Terminal=false
Type=Application
Categories=Science;Chemistry;
